<div class="products__items-item">
  <div class="products__items-item-text">{{product.title}}</div>
  <div class="products__items-item-price-action">
    <div class="products__items-item-price">
      <div class="item-price__count">{{product.count | customPricePipe: ' шт.'}}</div>
      <div class="item-price__price">{{ product.price | customPricePipe: ' руб.'}}</div>
    </div>
    <div class="products__items-item-action">
      <button class="button products__button" ButtonBackground (click)="addProductToCart()">Заказать</button>
    </div>
  </div>
  <div class="products__image">
    <img src="assets/image/{{product.image}}" alt="Product makaroon">
  </div>
</div>

<!--  currency:'RU':'руб':'1.1-2':'fr'  -->
