<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__logo-rights">
        <div class="logo">
          <a href="#">macaroons</a>
        </div>
        <div class="footer__rights">
          Все права защищены, 2020
        </div>
      </div>
      <div class="footer__social">
        <div class="footer__social-instagram">
          <a [href]="hrefInstagram"><img src="assets/image/instagram.png" alt="instagram"></a>
        </div>
        <div class="footer__social-text">
          Мы в Instagram
        </div>
      </div>
      <div class="footer__phone">
        <a href="#">{{headerPhoneNumber}}</a>
      </div>
    </div>
  </div>
</footer>
