.footer {
  padding: 73px 0 62px;
  background-color: #c0707c;
}

.footer .container {
  max-width: 1140px;
  margin: 0 auto;
}

.footer__wrapper {
  display: flex;
  align-items: center;
}

.footer .logo a {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
}

.footer__logo-rights {
  width: 162px;
  margin-right: 343px;
}

.footer__rights {
  margin-top: 19px;
  font-size: 12px;
  font-family: GilroyRegular, sans-serif;
  color: rgb(227, 172, 180);
}

.footer__social {
  text-align: center;
  margin-right: 356px;
}

.footer__social-instagram {
  margin-bottom: 15px;
}

.footer__social-text {
  text-align: center;
  font-size: 16px;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
}

.footer__phone a {
  text-decoration: none;
  font-size: 16px;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1229px) {

  .footer .footer__social {
    margin-right: 200px;
  }
}

@media screen and (max-width: 1029px) {
  .footer .footer__wrapper {
    justify-content: space-between;
  }

  .footer .footer__logo-rights {
    width: 162px;
    margin-right: 0;
  }

  .footer .footer__social {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer .footer__logo-rights {
    margin-right: 0;
    align-self: center;
  }

  .footer .footer__social {
    margin-right: 0;
  }
}

@media screen and (max-width: 460px) {
  body .footer {
    padding: 50px 0 101px;
  }

  .footer .footer__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    gap: 40px;
  }

  .footer .logo {
    margin-right: 0;
  }

  .footer .footer__logo-rights {
    margin-right: 0;
    order: 1;
    position: relative;

  }

  .footer .footer__rights {
    position: absolute;
    top: 205px;
  }

  .footer .footer__social {
    margin-right: 0;
    order: 3;
  }

  .footer .footer__phone {
    order: 2;
  }
}
