
.header-main__background {
  background-color: #eba8b1;
  overflow: hidden;
}

.header {

  padding: 38px 0 25px;
}

.header .container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-right: 227px;
}

.logo a {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
}

.menu ul {
  display: flex;
}

.menu ul li {
  list-style: none;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  transition: 800ms ease;
}

.menu ul li:hover {
  border-bottom: 2px solid #821328;
  transition: 800ms ease;
}

.menu ul li:not(:last-child) {
  margin-right: 40px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 14px;
  font-family: GilroyMedium, sans-serif;
  color: rgb(119, 11, 29);
  cursor: pointer;
}

.contact {
  margin-left: 328px;
}

.contact a {
  text-decoration: none;
  font-size: 16px;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
}

.main {
  padding: 126px 0 108px;
}

.main .container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
}

.main__information {
  max-width: 585px;
}

.main h1 {
  font-size: 55px;
  color: rgb(255, 255, 255);
  line-height: 1.091;
  margin-bottom: 60px;
}

.main p {
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.389;
  max-width: 345px;
}


.main__image {
  margin-left: 14px;
  position: relative;
  max-width: 529px;
  z-index: 1;
}

.main__image img {
  max-width: 100%;
}

.main__image::before, .main__image::after {
  content: '';
  position: absolute;
  top: 61px;
  right: 101px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  z-index: -1;
  animation: pulse-2 3s ease-in-out infinite;
  border: 1px solid brown;

}

.main__image::after {
  animation-delay: 1s;
}


@keyframes pulse-2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.main__action {
  margin-top: 80px;
}

.button {
  background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  //background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  width: 240px;
  height: 60px;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
  transition: all 800ms;
}

.button:hover {
  //box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

.advantages .container {
  max-width: 1140px;
  margin: 0 auto;
}

.advantages {
  padding: 119px 0 120px;
  background-color: #ffefef;
}

.advantages__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: end;
  grid-column-gap: 143px;
  grid-row-gap: 60px;
  margin-bottom: 92px;
}

.advantages__description-h2 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  font-size: 45px;
  color: rgb(51, 25, 7);
  line-height: 1.222;
}

.advantages__description-p {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  font-size: 18px;
  font-family: GilroyRegular, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  max-width: 407px;
}

.advantages__image {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.advantages__image img {
  max-width: 100%;
}

.advantages__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 87px;
}



.products {
  padding: 120px 0;
  background-color: #eba8b1;
}

.products .container {
  max-width: 1140px;
  margin: 0 auto;
}

.products h2 {
  font-size: 45px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 143px;
}

.products__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 26px;
}


.order {
  padding: 98px 0 120px;
  background-color: #ffefef;
}

.order .container {
  max-width: 1140px;
  margin: 0 auto;
}

.order__wrapper {
  display: flex;
  align-items: flex-end;
  gap: 161px;
}

.order__image {
  position: relative;
  max-width: 408px;
}

.order__image::before {
  content: '';
  position: absolute;
  background-image: url("../assets/image/strawberryBig.png");
  top: -22px;
  left: -31px;
  width: 82px;
  height: 101px;
  animation: strawberryOne 1s ease alternate infinite;
}

@keyframes strawberryOne {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(15px);
  }

}

.order__image img {
  max-width: 100%;
}

.order__form {
  position: relative;
  max-width: 408px;
}

.order__form::after {
  content: '';
  position: absolute;
  background-image: url("../assets/image/strawberrySmall.png");
  background-repeat: no-repeat;
  bottom: 80px;
  right: 5px;
  width: 50px;
  height: 66px;
  animation: strawberryOne 1s ease alternate infinite;
  animation-delay: 0.5s;
}

.order__form h2 {
  font-size: 45px;
  color: rgb(51, 25, 7);
  margin-bottom: 41px;
}


.order__form p {
  font-size: 18px;
  font-family: GilroyRegular, sans-serif;
  color: rgb(51, 25, 7);
  margin-bottom: 48px;
}

.order__span {
  font-size: 18px;
  font-family: GilroyBold, sans-serif;
  color: rgb(18, 10, 6);
}

.span-one {
  margin-bottom: 20px;
}

.span-two {
  margin: 25px 0 22px;
}

.input__transparent {
  width: 294px;
  height: 60px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #760c22;
  padding: 0 26px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.input__transparent::placeholder,
.input__transparent {
  font-size: 15px;
  font-family: GilroyBold, sans-serif;
  color: rgb(118, 12, 34);
}

.order__action .order-button {
  width: 294px;
}

.footer {
  padding: 73px 0 62px;
  background-color: #c0707c;
}

.footer .container {
  max-width: 1140px;
  margin: 0 auto;
}

.footer__wrapper {
  display: flex;
  align-items: center;
}

.footer__logo-rights {
  width: 162px;
  margin-right: 343px;
}

.footer__rights {
  margin-top: 19px;
  font-size: 12px;
  font-family: GilroyRegular, sans-serif;
  color: rgb(227, 172, 180);
}

.footer__social {
  text-align: center;
  margin-right: 356px;
}

.footer__social-instagram {
  margin-bottom: 15px;
}

.footer__social-text {
  text-align: center;
  font-size: 16px;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
}

.footer__phone a {
  text-decoration: none;
  font-size: 16px;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
}

.displayNone {
  display: none;
}
.displayBlock {
  display: block;
}

.button__fixed {
  position: fixed;
  right: 20px;
  bottom: 10px;
}

.button__fixed-border {
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  border: none;
  background: radial-gradient(#71081e, #d7485c);
  transition: box-shadow 600ms ease;
}


.button__fixed-border img {
  max-width: 100%;
  max-height: 100%;
  width: 48px;
}

.button__fixed-count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 2px solid #930726;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  left: 66px;
  bottom: 62px;
  background-color: white;
  color: #71081e;
  font-size: medium;
  font-weight: bold;
}

.button__fixed-count-number {

}

.button__fixed-border:hover {
  border-radius: 50%;
  box-shadow: 0 0 12.6px 2.4px rgba(130, 19, 40, 0.5);
}

.button__fixed-text {
  opacity: 0;
  position: absolute;
  bottom: -57px;
  left: -119px;
  width: 100px;
  height: 64px;
  box-sizing: border-box;
  padding: 21px 0 0 20px;
  line-height: 1.3;
  border: 2px solid #770a1d;
  border-radius: 10px;
  background-color: #ffefef;
  transition: 800ms ease;
  color: #770a1d;
}

.wrapper:hover .button__fixed-text {
  opacity: 1;
  transform: translateY(-70px);
  transition: all 0.6s;

}

.button__fixed-text span {
  position: relative;
  font-size: 15px;
  font-family: GilroyMedium, sans-serif;
  color: rgb(119, 10, 29);
}


.button__fixed-text::after {
  content: '';
  position: absolute;
  right: -22px;
  top: 18px;
  border: 10px solid transparent;
  border-left: 12px solid #ffefef;
}
.button__fixed-text::before {
  content: '';
  position: absolute;
  right: -25px;
  top: 18px;
  border: 10px solid transparent;
  border-left: 13px solid rgb(119 10 29);
}

.wrapper {
  position: relative;

}

.burger {
  display: none;
}

.close {
  display: none;
}


@media screen and (max-width: 1229px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  body .header .container {
    justify-content: space-between;
  }

  .header .contact {
    margin-left: 200px;
  }

  .main .main__image {
    max-width: 412px;
  }

  .footer .footer__social {
    margin-right: 200px;
  }
}

@media screen and (max-width: 1029px) {

  body .header .container {
    justify-content: space-between;
  }

  .header .logo {
    margin-right: 0;
  }

  .header .contact {
    margin-left: 0;
  }

  body .main {
    padding: 75px 0 219px;
  }

  .main .main__image {
    top: 123px;
    right: 64px;
    max-width: 350px;
  }

  body .main__image::before, body .main__image::after {
    top: 15px;
    right: 26px;
    width: 250px;
    height: 250px;
  }

  body .advantages {
    padding: 70px 0 120px;
  }

  .advantages .advantages__description-h2 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    font-size: 45px;
    color: rgb(51, 25, 7);
    line-height: 1.222;
    margin-bottom: 89px;
    text-align: center;
  }

  /*.advantages .advantages__description-h2 {*/
  /*    grid-row: 1 / 2;*/
  /*    grid-column: 1 / 3;*/
  /*    font-size: 45px;*/
  /*    color: rgb(51, 25, 7);*/
  /*    line-height: 1.222;*/
  /*    margin-bottom: 80px;*/
  /*    text-align: center;*/
  /*}*/

  .footer .footer__wrapper {
    justify-content: space-between;
  }

  .footer .footer__logo-rights {
    width: 162px;
    margin-right: 0;
  }

  .footer .footer__social {
    margin-right: 0;
  }

  @media screen and (max-width: 991px) {

    body .header {
      padding-top: 38px;
    }

    .header .logo {
      margin-right: 103px;
    }

    body .header .container {
      justify-content: left;
    }

    .header .contact {
      display: none;
    }

    body .main .container {
      display: inline-block;
      position: relative;
    }

    body .main {
      padding-top: 77px;
      padding-bottom: 420px;
    }

    body .main__action {
      margin-top: 41px;
    }

    .main .main__image {
      position: absolute;
      top: 210px;
      right: -241px;
      max-width: 529px;
    }

    .main .main__image img {
      position: relative;
      top: 1px;
      right: 1px;
    }

    /*.main .main__image img {*/
    /*    max-width: 100%;*/
    /*    position: relative;*/
    /*    top: 181px;*/
    /*    right: 122px;*/
    /*}*/

    body .main__image::before, body .main__image::after {
      content: '';
      position: absolute;
      top: 96px;
      right: 118px;
      width: 301px;
      height: 305px;
    }

    .products .products h2 {
      margin-bottom: 111px;
    }

    .products .products__items {
      grid-template-columns: repeat(2, minmax(215px, 261px));
      justify-content: center;
      grid-template-rows: 1fr;
      grid-column-gap: 26px;
      grid-row-gap: 136px;
    }

  }

  @media screen and (max-width: 886px){
    .advantages .advantages__description-h2 {
      margin-bottom: 69px;
    }

    .main .main__image {
      position: absolute;
      top: 270px;
      right: -85px;
      max-width: 529px;
    }

  }


  @media screen and (max-width: 768px) {

    body .header {
      padding-top: 38px;
    }

    .header .logo {
      margin-right: 103px;
    }

    body .header .container {
      justify-content: left;
    }

    .header .contact {
      display: none;
    }

    body .main .container {
      display: inline-block;
      position: relative;
    }

    body .main {
      padding-top: 77px;
      padding-bottom: 420px;
    }

    body .main__action {
      margin-top: 41px;
    }

    .main .main__image {
      position: absolute;
      top: 270px;
      right: -85px;
      max-width: 529px;
    }

    .main .main__image img {
      position: relative;
      top: 1px;
      right: 1px;
    }

    body .advantages {
      padding-top: 119px;
    }

    body .advantages .advantages__grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 561px));
      /*grid-template-columns: 1fr;*/
      grid-template-rows: 1fr;
      grid-column-gap: 0;
      text-align: center;
      justify-items: center;
      justify-content: center;
    }

    .advantages .advantages__description-h2 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      font-size: 45px;
      color: rgb(51, 25, 7);
      line-height: 1.222;
    }

    .advantages .advantages__description-p {
      max-width: 768px;
      align-self: baseline;
    }

    .advantages .advantages__image {
      grid-column: 1 / 1;
      grid-row: 3 / 4;
      max-width: 302px;
    }

    .advantages .advantages__image img {
      max-width: 100%;
    }

    .advantages .advantages__items {
      grid-template-columns: repeat(2, minmax(215px, 218px));
      grid-row-gap: 80px;
      grid-column-gap: 54px;
      justify-content: center;
      align-items: baseline;
    }

    .advantages .advantages__items-one {
      display: grid;
      justify-items: center;
    }

    .advantages .advantages__items-p {
      text-align: center;
    }

    .products .products__items {
      grid-template-columns: repeat(2, minmax(215px, 261px));
      justify-content: center;
      grid-template-rows: 1fr;
      grid-column-gap: 26px;
      grid-row-gap: 136px;
    }

    .order .order__wrapper {
      gap: 0;
      position: relative;
    }

    .order .order__image {
      order: 1;
      position: absolute;
      bottom: -101px;
      right: 3px;
      max-width: 352px;
    }

    .order .order__form::after {
      bottom: 391px;
      right: -212px;
    }

    body .footer__wrapper {
      align-items: baseline;
    }

    .footer .footer__logo-rights {
      margin-right: 0;
      align-self: center;
    }

    .footer .footer__social {
      margin-right: 0;
    }

    .button__fixed .button__fixed-border {
      width: 60px;
      height: 60px;
    }

    .button__fixed .button__fixed-border img {
      max-width: 100%;
    }
  }



  @media screen and (max-width: 704px) {
    .main .main__image {
      max-width: 425px;
      top: 336px;
      right: 1px;
    }

    .order .order__form::after {
      right: -91px;
    }

    body .main__image::before, body .main__image::after {
      top: 76px;
      right: 60px;
      width: 267px;
      height: 265px;}
  }

  @media screen and (max-width: 625px) {
    .main .main__image {
      top: 366px;
      right: 114px;
      max-width: 300px;
    }

    body .main h1 {
      font-size: 40px;
    }

    body .main__image::before, body .main__image::after {
      content: '';
      position: absolute;
      top: -10px;
      right: 25px;
    }

  }

  @media screen and (max-width: 547px) {
    body .header .container {
      justify-content: space-between;
    }

    body .menu {
      /*display: none;*/
    }

    body .main-image {
      width: 100%;
    }

    body .header .menu ul {
      width: 350px;
    }

    body .header .menu {
      position: fixed;
      width: 100%;
      height: 100%;
      margin: 0;
      right: 0;
      top: -100%;
      background: rgb(235 168 174);
      transition: 0.5s;
    }

    body .header .menu ul {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin: 100px auto;
      gap: 16px;
    }

    body .header .menu ul a {
      color: #ffefef;
      font-size: 35px;
    }

    body .header .menu ul li {
      margin-right: 0;
    }


    body .header .menu-item {
      margin: 15px 0;
    }

    body .header .burger {
      display: block;

    }

    body .header .burger svg {
      width: 36px;
      height: 36px;
      fill: #fad7a7;
      margin-right: 20px;
    }

    body .menu.open {
      display: flex;
      /*align-items: center;*/
      z-index: 5;
      top: 0;
    }

    body .menu .close {
      display: block;
      width: 24px;
      height: 24px;
      fill: rgb(255 255 255);
      position: absolute;
      top: 30px;
      right: 21px;
    }

    .products .products__image {
      position: absolute;
      top: -59px;
      right: 19px;
    }

    .order .order__form::after {
      right: -5px;
    }

    .advantages .advantages__items {
      grid-column-gap: 22px;
    }
  }

  @media screen and (max-width: 500px) {
    .products .products__image {
      position: absolute;
      top: -59px;
      right: 10px;
    }
  }

  @media screen and (max-width: 460px) {

    /*body .header .menu {*/
    /*    display: none;*/
    /*}*/
    body .main {
      padding-bottom: 43px;
    }

    body .main .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .main .main__image {
      position: static;
      margin-left: 0;
      max-width: 250px;
      margin-top: 38px;
    }

    .main .main__image::before {
      top: 394px;
      right: 148px;
      width: 130px;
      height: 130px;
    }

    .main .main__image::after {
      top: 394px;
      right: 148px;
      width: 130px;
      height: 130px;
    }

    .main .main__information {
      text-align: center;
    }

    .main .main__information h1 {
      font-size: 32px;
      color: rgb(255, 255, 255);
      line-height: 1.25;
      text-align: center;
    }

    body .advantages {
      padding: 100px 0;
    }

    .advantages .advantages__description-h2 {
      font-size: 30px;
      line-height: 1.167;
      margin-bottom: 0;
    }

    .advantages .advantages__description-p {
      font-size: 16px;
      line-height: 1.437;
    }

    .advantages .advantages__items {
      grid-column-gap: 15px;
      grid-row-gap: 55px;
      grid-template-columns: repeat(2, minmax(165px, 218px));
    }

    .advantages .advantages__items-number {
      margin-left: 0;
    }

    .advantages .advantages__items-text {
      font-size: 18px;
    }

    .advantages .advantages__items-p {
      font-size: 13px;
    }

    body .products {
      padding: 100px 0;
    }

    .products .container h2 {
      font-size: 30px;
    }

    .products .products__image {
      position: absolute;
      top: -59px;
      right: 31px;
    }

    .products .products__items {
      grid-template-columns: repeat(1, minmax(215px, 261px));
    }

    body .order {
      padding: 100px 0 77px;
    }

    .order .order__image {
      display: none;
    }

    .order .order__form::after {
      bottom: 375px;
      right: -1px;
      background-image: url("../assets/image/strawberryBig.png");
      width: 84px;
      height: 101px;
    }

    .order .order__form h2 {
      font-size: 30px;
    }

    .order .order__form p {
      font-size: 16px;
    }

    .order .order__action .input__transparent {
      width: 344px;
    }

    .order .order__action .order-button {
      width: 344px;
    }

    body .footer {
      padding: 50px 0 101px;
    }

    .footer .footer__wrapper {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      text-align: center;
      align-items: center;
      gap: 40px;
    }

    .footer .logo {
      margin-right: 0;

    }

    .footer .footer__logo-rights {
      margin-right: 0;
      order: 1;
      position: relative;

    }

    .footer .footer__rights {
      position: absolute;
      top: 205px;
    }

    .footer .footer__social {
      margin-right: 0;
      order: 3;
    }

    .footer .footer__phone {
      order: 2;
    }
  }
}

@media screen and (max-width: 363px) {
  .order .order__action .input__transparent {
    width: 298px;
  }

  .order .order__action .order-button {
    width: 298px;
  }
  .main .main__image::before,
  .main .main__image::after {
    top: 439px;
    right: 120px;
  }
}

@media screen and (max-width: 346px) {
  .advantages .advantages__items {
    grid-column-gap: 10px;
    grid-row-gap: 55px;
    grid-template-columns: repeat(2, minmax(125px, 218px));
  }

  .main .main__image::before,
  .main .main__image::after {
    top: 439px;
    right: 120px;
  }

  .advantages .advantages__items-text {
    font-size: 15px;
  }

  .advantages .advantages__items-p {
    font-size: 10px;
  }
}

@media screen and (max-width: 346px){
  .main .main__image::before,
  .main .main__image::after {
    top: 503px;
    right: 102px;
  }
}

@media  screen and (max-width: 320px) {
  body .main .main__image::before, body .main .main__image::after {
    top: 501px;
    right: 94px;
  }
}

