
<div class="header-main__background">

  <main class="main">
    <div class="container">
      <div class="main__information">
        <h1>Мягкие французские пироженки Macaroons</h1>
        <p>Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!</p>
        <div class="main__action">
          <button class="button" (click)="scrollTo(productsElement)">Выбрать макарун</button>
        </div>
      </div>
      <div class="main__image">
        <img src="assets/image/mainImg.png" alt="cookies">
      </div>
    </div>
  </main>
</div>
<section class="advantages">
  <div class="container">
    <div class="advantages__grid">
      <div class="advantages__description-h2">
        Мы печём для вас вкуснейшие макаруны уже более 10 лет
      </div>
      <div class="advantages__description-p">
        Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
        ароматизаторов,
        красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей, маргарина, разрыхлителей
        и
        улучшителей муки.
      </div>
      <div class="advantages__image">
        <img src="assets/image/advantagesImg.png" alt="makaroon">
      </div>
    </div>
    <div class="advantages__items">
      <div class="advantages__items-one" *ngFor="let advantages of advantages">
        <div class="advantages__items-number">{{advantages.number}}</div>
        <div class="advantages__items-text">{{advantages.title}}</div>
        <div class="advantages__items-p">{{advantages.description}}</div>
      </div>
    </div>
  </div>
</section>
<section class="products" #productsElement>
  <div class="container">
    <h2>Выберите свой макарун</h2>
    <div class="products__items">
      <div class="products__items-item" *ngFor="let product of products; let i = index">
        <div class="products__items-item-text">{{product.title}}</div>
        <div class="products__items-item-price-action">
          <div class="products__items-item-price">
            <div class="item-price__count">{{product.count}}</div>
            <div class="item-price__price">{{product.price}}</div>
          </div>
          <div class="products__items-item-action">
            <button class="button products__button" (click)="addToCart(product, orderElement)">Заказать</button>
          </div>
        </div>
        <div class="products__image">
          <img src="assets/image/{{product.image}}" alt="Product makaroon {{i+1}}">
        </div>
      </div>
    </div>

  </div>
</section>
<section class="order" #orderElement>
  <div class="container">
    <div class="order__wrapper">
      <div class="order__image">
        <img src="assets/image/cookies.png" alt="cookies">
      </div>
      <div class="order__form">
        <h2>Закажите макарун!</h2>
        <p>
          Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
        </p>
        <div class="order__span span-one">Ваш выбор</div>
        <div class="order__action">
          <input type="text" class="input__transparent" placeholder="Напишите, что хотите заказать..." [(ngModel)]="formValues.productTitle">
        </div>
        <div class="order__span span-two">Заполните данные для заказа</div>
        <div class="order__action">
          <input type="text" class="input__transparent" placeholder="Ваше имя" [(ngModel)]="formValues.name">
        </div>
        <div class="order__action">
          <input type="text" class="input__transparent" placeholder="+375 (__) ___ - __ - __" [(ngModel)]="formValues.phone">
        </div>
        <div class="order__action">
          <button class="button order-button">Оформить заказ</button>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="button__fixed" [class]="showPresent === true ? 'displayBlock' : 'displayNone'">
  <div class="wrapper">
    <button class="button__fixed-border">
      <img src="assets/image/present1.png" alt="present">
    </button>
    <div class="button__fixed-text">
      <span>Оформите заказ!</span>
      <div></div>
      <span>и получите подарок!</span>
    </div>
  </div>
</div>

